body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#story-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#goldilocks{
    display: block;
}

#instructions{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

#fruit-container{
    margin-left: 2vw;
    display: grid;
    grid-template-columns: repeat(15, 6.3vw);
    grid-template-rows: repeat(2, 60px);
    width: 95vw;
    min-height: 150px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

#fruit-plate{
    margin-left: 1.8vw;
    display: grid;
    grid-template-columns: repeat(15, 6.3vw);
    grid-template-rows: repeat(2, 60px);
    width: 95vw;
    min-height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(88, 202, 206);
    border: 10px solid rgba(62, 199, 190, 0.776);
}

.fruit{
    /* flex grow specifies how much of the remaining space in the flex container should be assigned to the item */
    /* flex: 1 1 70px; */
    width: 85px;
    height: 85px;
    flex: 0 0 85px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.5vw;
}


.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    font-size: 1.5em;
}

#display-num {
    margin-top: 10px;
    text-align: center;
    min-height: 30px;
    font-size: 50px;
}

#audio-controls {
    margin-top: 20px;
}

#play-instructions{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
}

#audio-controls audio{
    width: 50%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block; /* audio controls are inline by default, need this so u can manipulate it */
}


/* practice phase styling */

.cookie {
    width: 45px;
    height: 45px;
    flex: 0 0 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.5vw; 
}