

#goldilocks{
    display: inline-block;
}

#instructions{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}


#fruit-container{
    display: flex;
    min-width: 300px;
    min-height: 1000px;
    border: 3px solid salmon;
}




.buttons{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    font-size: 1.5em;
}

#display-num {
    text-align: center;
    min-height: 30px;
    font-size: 50px;
}

#audio-controls {
    margin-top: 30px;
}

#play-instructions{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    font-size: 30px;
}

#audio-controls audio{
    width: 50%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block; /* audio controls are inline by default, need this so u can manipulate it */
}
